.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30 px 60px;
}
h1,
h2,
p,
button,
h6,
.signature {
  font-family: monospace;
}
h1 {
  text-align: center;
  font-size: 50px;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border-radius: 50px;
}
hr {
  color: #0f0f0f;
}
h2 {
  text-align: center;
}
img {
  display: block;
  margin: auto;
  padding-top: 30px;
  max-width: 50%;
}
p {
  line-height: 1.5;
  font-size: 24px;
  margin: 20px 0 10px;
}
.palette {
  font-weight: bold;
}
.emoji {
  text-align: center;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.learnMore {
  font-size: 12px;
  opacity: 0.75;
}
button {
  display: block;
  margin: 20px auto;
  border: 1px solid #0f0f0f;
  background: transparent;
  color: #0f0f0f;
  font-size: 16px;
  line-height: 22px;
  padding: 16px 24px;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}
h6 {
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
}
.signature {
  text-align: center;
  opacity: 0.75;
  font-size: 16px;
}
